# Data Science Tools and Ecosystem\

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:

1. data science tools
2. data science languages
3. data science libraries
4. arithmetics in python
5. minute to hour conversion

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib

| Data Science Tools | 
| :--- |
Jupyter notebookxt
| R Studio |
| My SQL | |

Below are a few examples of evaluating arithmetic expressions in Python:
1. +
2. -
3. *
4. /
5. //

In [2]:
# his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#this will convert 200 minutes to hours by diving by 60
minutes = int(input("What minutes have passed: "))

hours = minutes/60
print(hours)

What minutes have passed:  200

3.3333333333333335

## Author:
Nkosilathi Munyanyiwa